cartraffic01.mp4
cartraffic.mp4
import/craft_mlt_25k.pth
import/english_g2.pth
carplatepersian.ts
yolo11n.pt
cartraffichd01.mp4
output/YOLO_OCR_Car_Plate.mp4
cartraffic01hd.mp4
license-plate-finetune-v1x.pt
output/YOLO_OCR_Car_Plate02hd.mp4
output/yolov_person_passthrough_counter.mp4
output/yolov_plate_passthrough_counter_voted.mp4
output/yolov_plate_passthrough_counter.mp4
YOLO_OCR_Car_Plate_Reader.py
YOLO_OCR_Car_Plate_Reader02.py
output\YOLO_OCR_Car_Plate02.mp4
YOLO_OCR_Car_Plate01.mp4
output\plate_records01.csv
output\plate_records02.csv
output/plate_records01.csv
output/plate_records02.csv
output/YOLO_OCR_Car_Plate02.mp4
